/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 60px;
  width: 100%;
  background: black;
}

li{
  float: left;
  color: white;
  padding: 0 11px;
  list-style: none;
}

main section{
  color: white;
}

main > section{
  width: 50%;
  height: 400px;
  float: left;
  background-image: url("http://placekitten.com/400/400");
}

section > section {
  width: 50%;
  float: left;
  height: 200px;
  background-image: url("http://placekitten.com/200/200");
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
